body {
	color: #666;
}

.animation {
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.fade-in {opacity:0.2}

/* Monitor title */
.monitor-title, .dropdown-menu {
	font-size: 3.5em; /* compatibility */
	font-size: 3vw;
}

.monitor-title img {
	height: 0.7em;
	width: 1.2em;
	opacity: 0.45;
	margin-bottom:0.2em;
    filter: alpha(opacity=45); /* For IE8 and earlier */
}

.dropdown {
	display: inline;
	cursor: pointer;
}

.dropdown .caret {
	border-top: 0.2em dashed;
  	border-right: 0.2em solid transparent;
  	border-left: 0.2em solid transparent;
}

.dropdown:hover {
	color:black;
}

.controls {
	text-align: right;
}

.controls button {
	cursor: pointer;
	border: 0px;
  	background-color: transparent;
  	vertical-align: middle;
}

.controls button:hover {
	color: black;
}

.controls button:focus {
	outline: 0;
}

/* Monitor box */
.monitor-box {
	border: solid 10px white;
	border-radius: 15px;
	color: white;
}

.monitor-box span {
	font-weight: bold;
	font-size: 3em; /* compatibility */
	font-size: 2.5vw;
}

.monitor-box span.time {
	display: block;
	font-size: 2.5em; /* compatibility */
	font-size: 2vw;
}

.generated {
	text-align: center;
	font-size: 1.5em;
	font-size: 1.5vw;
}

.success {
	background-color: #79C447;
}
.timeout {
	background-color: #FABB3D;
}
.error {
	background-color: #FF5454;
}

@media (max-width: 991px)
{	
	.monitor-title {
		font-size: 1.3em;
	}

	.dropdown-menu {
		font-size: 1em;
	}

	.controls {
		text-align: center;
		font-size: 1.5em;
	}

	.dropdown .caret {
		border-top: 0.3em dashed;
	  	border-right: 0.3em solid transparent;
	  	border-left: 0.3em solid transparent;
	}

	.monitor-box {
		min-height: initial !important;
	}

	.monitor-box span {
		font-size: 1.2em;
	}

	.monitor-box span.time {
		font-size: 0.9em;
	}

	.generated {
		font-size: 1em;
	}

}
