
<div>
	<div class="row">
		<div class="col-md-16 monitor-title">
			<span>ABInbev B2B API - </span>
			<img src="http://flags.fmcdn.net/data/flags/normal/{{status.geral.environment.code}}.png" />
			<span>{{status.geral.environment.name}}</span>
		</div>

	</div>

	<div class="row">
		<div ng-repeat="api in status.apis" class="col-md-4 img-rounded monitor-box" ng-class="{'success': api.code == 'SUCCESS', 'timeout': api.code == 'TIMEOUT', 'error': api.code == 'ERROR'}" style="min-height:calc({{100 / lines}}vh - {{110 / lines}}px)">
			<span class="title">{{api.name}}</span>
			<span class="time">{{api.time}} ms</span>
		</div>
	</div>
</div>