
<div ng-class="animationClass">
	<div class="row">

		<div class="monitor-title">

			<div class="col-md-8">
				<span>ABInbev B2B API - </span>
				<img src="http://flags.fmcdn.net/data/flags/normal/{{status.geral.environment.code}}.png" />

				<div class="dropdown">
					<span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						{{status.geral.environment.name}}
						<span class="caret"></span>
					</span>
					<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
						<li ng-repeat="env in environments">
							<a href="#/api?environment={{env.code}}">{{env.name}}</a>
						</li>
					</ul>
				</div>
				

			</div>

			<div class="col-md-4 controls">
				<button class="glyphicon glyphicon-backward" ng-click="previousEnvironment()"></button>
				<span ng-click="togglePlay()">
					<button class="glyphicon glyphicon-pause" ng-if="isRotating()"></button>
					<button class="glyphicon glyphicon-play" ng-if="!isRotating()"></button>
				</span>
				<button class="glyphicon glyphicon-forward" ng-click="nextEnvironment()"></button>
			</div>
		</div>
	</div>

	<div class="row">
		<div ng-repeat="api in status.apis" class="col-md-4 monitor-box" ng-class="{'success': api.code == 'SUCCESS', 'timeout': api.code == 'TIMEOUT', 'error': api.code == 'ERROR'}" style="min-height:calc({{100 / lines}}vh - {{110 / lines}}px)">
			<span class="title">{{api.name}}</span>
			<span class="time">{{api.time}} ms</span>
		</div>
	</div>
</div>